export MAA_HOME="$(git rev-parse --show-toplevel)"

source "$MAA_HOME/.monti-overhead/.envrc"

function @reload {
  source "$MAA_HOME/.envrc"
}

function @test {
  export ENABLE_LOG_USE_FIBERS=1
  meteor test-packages $MAA_HOME --port=3003
}

function @test-checkout {
  export ENABLE_LOG_USE_FIBERS=1
  meteor_checkout test-packages $MAA_HOME --port=3003
}

function @test-old {
  export NODE_TLS_REJECT_UNAUTHORIZED=0
  arch -x86_64 meteor test-packages $MAA_HOME --port=3003 --release 1.4.4.6
}
