#
# This is file is intended to store and document useful commands which cannot simply be added to the package.json scripts section.
#

export METEOR_CHECKOUT_BIN=~/Repositories/meteor/meteor/meteor
export ENABLE_ASYNC_STACK_TRACES=true

function @meteor {
  arch -arm64 $METEOR_CHECKOUT_BIN "$@"
}

function @tmp {
  cd $TMPDIR
}

function @clean-test-files {
  @tmp
  rm -rf meteor-test-*
}

function @test-checkout {
  # No longer needed in Meteor 3.0
  # export DISABLE_FIBERS=1
  # export IGNORE_ASYNC_PLUGIN=1
  # export MONGO_OPLOG_URL=mongodb://localhost:3001/local
  export METEOR_PACKAGE_DIRS=~/Repositories/monti-apm/monti-apm-agent/packages

  export NODE_OPTIONS="--max-old-space-size=4096 --trace-warnings --trace-uncaught"

  # Overrides Meteor's default behavior
  export FORCE_COLOR=true

  @meteor test-packages ./ --raw-logs "$@"
}
