function @ovh-dir {
  cd "$MAA_HOME/monti-overhead" || exit
}

function @ovh-start-without-apm {
  @ovh-dir

  EXCLUDED_ARCHS="web.browser.legacy,web.cordova"
  PORT=3001

  SERVER_NODE_OPTIONS="--expose-gc" meteor run --settings=settings.json --exclude-archs="$EXCLUDED_ARCHS" --port "$PORT" $@
}

function @ovh-start-with-apm {
  @ovh-dir

  EXCLUDED_ARCHS="web.browser.legacy,web.cordova"
  PORT=3001

  SERVER_NODE_OPTIONS="--expose-gc" meteor run --settings=settings.json --extra-packages='montiapm:agent' --exclude-archs="$EXCLUDED_ARCHS" --port "$PORT" $@
}
